# App specific
config.php
.htaccess
/images

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Global
*.log

# Latex files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mp
*.mtc
*.mtc1
*.nlo
*.out
*.pdf
*.synctex.gz
*.tmp
*.toc
*.top
*.tui

includes/controllers/class-install-controller.php
