/**
 * Custom styles. Loaded after bootstrap.
 */

html,
body {
   height:100%;
}

body {
	background-color: #dde4ec;
	font-family: 'Lato', sans-serif;
	color: #6e6e6e;
}

.container {
	min-height: 100%;
	margin-bottom: -200px; /* Height of footer */
	height: auto;
	position: relative;
}

#content {
	padding: 40px 0;
	margin-bottom: 200px; /* Height of footer */
}

.jumbotron.error-404 {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.install-register-form {
	margin-top: 20px;
}

#password-strength-result {
	margin-top: -15px;
}

#password-strength-result .progress {
	height: 10px;
}

#password-strength-result .progress-bar {
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

#password-strength-result .help-block {
	margin: 0;
	text-align: right;
}

#password-mismatch {
	visibility: hidden;
}

#images {
	display: none;
}

#image-container {
	margin-top: 30px;
	margin-right: -1%;
}

.upload-image-wrapper {
	width: 24%;
	margin-right: 1%;
	margin-bottom: 3%;
	float: left;
	position: relative;
}

.upload-image-wrapper img {
	width: 100%;
	height: auto;
}

.upload-image-wrapper.loading .img-thumbnail {
	opacity: 0.5;
}

.upload-image-wrapper .progress {
	position: absolute;
	top: 40px;
	left: 50%;
	margin: -10px 0 0 -40%;
	width: 80%;
}

.upload-image-wrapper .form-group {
	margin-top: 10px;
}

.upload-image-wrapper .image-description {
	resize: none;
}

#create-gallery-button {
	max-width: 300px;
}

#footer {
	clear: both;
	background-color: #458acf;
	color: #f8f8f8;
	padding: 10px;
	height: 200px;
	width: 100%;
	text-align: center;
}

.home-welcome {
	padding-top: 50px;
}

#carousel-home-welcome {
	border: 10px solid #f8f8f8;
	border-radius: 4px;
}

.home-welcome .btn {
	margin-top: 50px;
}

#welcome-page,
#profile-page {
	margin-top: 50px;
}

#profile-page .avatar {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.gallery-images-thumbs,
.user-galleries {
	margin-top: 30px;
}

.gallery-images-thumbs .row,
.user-galleries .row {
	margin-bottom: 15px;
}

#gallery-page .private-label {
	font-size: 40%;
	vertical-align: middle;
}

#gallery-page .image {
	width: 24%;
	margin-right: 1%;
	margin-bottom: 3%;
	float: left;
	position: relative;
}

#timeline-page .gallery {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;
}

.gallery .carousel {
	background: #fff;
}

.gallery .carousel img {
	max-height: 350px;
}

/**
 * Image Fancybox
 */
.image-box {
	display: none;
	height: 2000px;
	width: 2000px;
	overflow: hidden;
	position: relative;
}

.image-box .loading {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 200px;
	height: 20px;
	margin-top: -10px;
	margin-left: -100px;
}

.fancybox-inner .image-box {
	max-height: 100%;
	max-width: 100%;
}

.image-box .image {
	max-width: 100%;
	height: auto;
	max-height: 100%;
	margin: 0 auto;
	display: block;
}

.image-box-right {
	padding-top: 15px;
	padding-right: 50px;
}

.image-box-scroll {
}

/**
 * Logo in Nav bar
 */
.navbar-logo {
	float: left;
	padding: 8px 15px;
}

/**
 * Center images in carousel views.
 */
.carousel img {
	margin-left: auto;
	margin-right: auto;
}

/**
 * Google Maps
 */
.maps-container {
	margin: 30px auto;
}

.maps-container img {
	margin: 0 auto;
	display: block;
	width: 100%;
	height: auto;
}

/**
 * Custom styles for Facebook widgets
 */
.facebook-container {
	margin-top: 50px;
}

#fb-root {
	display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
		width: 100% !important;
}

/**
 * Custom styles for Fancybox
 */
.fancybox-nav {
	width: 60px;
}

.fancybox-nav span {
	visibility: visible;
	opacity: 0.5;
}

.fancybox-nav:hover span {
	opacity: 1;
}

.fancybox-next {
	right: -60px;
}

.fancybox-prev {
	left: -60px;
}
